<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/sign-in.css" />
  <title>Sign In</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
<h1 class="header">Manage Your Life By Managing Your Expenses </h1>
  <div class="container">
    <div class="img-container">
      <div class="instructions">
        <p class="instructions-paragraph">Enter Your Username and Passowrd Correctly To Manage Your Expenses</p>
      </div>
    </div>
    <div class="form-container">
      <h1 class="h1-sign-in">Sign in</h1>
      <form action="/auth/sign-in" method="POST">
       
        <input type="text" name="username" id="username" placeholder="Username" required />
        
        <input type="password" name="password" id="password" placeholder="Password" required />
        <br>
        <button type="submit">Sign in</button>
      </form>
      <p>Don't have an account? <a href="/auth/sign-up"> SIGN UP</a></p>
    </div>
  </div>
</body>
</html>
