<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
    <% if(user) { %>
    <div class="navbar">
        <h1 id="nav-header">Fintrax</h1>
        <div class="nav-links">
    <a class="authlink" href="/users/<%= user._id %>/dashboard">Home</a>
    <a class="authlink" href="/users/<%= user._id %>/dashboard/my-expenses">My Expense</a>
    <a class="authlink" href="/users/<%= user._id %>/dashboard/new-expense">Add Expense</a>
    <a class="authlink" href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
    
    <% } else { %>
        <div class="navbar">
            <h1 id="nav-header">Fintrax</h1>
            <div class="nav-links">
    <a class="authlink" href="/auth/sign-in">Sign In</a>
    <a class="authlink" href="/auth/sign-up">Sign Up</a>
    <% } %>
        </div>
    </div>
  </nav>
  



  