<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Apps</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Expenses</h1>
    <h2> <a href="/users/<%=user._id%>/dashboard/new-expense">Add an Expense</a></h2>
    <h2> <a href="/users/<%=user._id%>/dashboard/my-expenses">My Expenses</a></h2>
  </body>
</html>
