@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Doto:wght@100..900&family=Londrina+Shadow&family=Poiret+One&family=Signika:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
    display: flex;
    flex-direction: column;
    background: url("https://i.imgur.com/cwdC8en.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: rgb(15, 17, 76);
}
.header{
    margin-top: 110px;
    margin-left: 180px;
}
span{
    text-transform: capitalize;
}
.container{
    margin-left: 160px;
    width: 500px;
    height: 200px;

    
    position: relative;
}

.my-expenses, .add-expense {
    text-decoration: none;
    font-size: 24px;
    border: 3px solid rgb(15, 17, 76);
    padding: 15px;
    margin-top: 20px;  
    margin-left: 90px;
    color: rgb(15, 17, 76); 
    display: block;  
    text-align: center;  
    border-radius: 10px;  
    transition: background-color 0.3s ease;  
    width: 60%;
    position: relative;
    
}

.my-expenses:hover, .add-expense:hover {
    background-color: rgb(15, 17, 76);
    color: white; 
}


.my-expenses {
    margin-top:30px; 
}

.add-expense {
    margin-top: 5px; 
}
hr{
    border: 1px solid rgb(15, 17, 76);
    width: 500px; 
    margin-left: 170px;
    margin-top: 150px;
    position: absolute;
}



